{% extends "layout.html" %}


{% block title %}
Thanks
{% endblock%}
{% block main %}

<div class="container">
    <main>
        <div class="py-5 text-center">

            <h2 class="text-center">Thanks for your purcase</h2>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sollicitudin finibus
                semper. Maecenas faucibus eros a sagittis auctor. Nam est nisi, congue vel nisi quis, pharetra gravida
                sem. In egestas vitae lectus eu feugiat.</p>

        </div>
    </main>
</div>
{% endblock %}